/* =========================
   Honeypot Form Samle Styles
   
   Desc: Basic styles for the demo
   Author: Tim White (tjameswhite)
   Date: 10 Jan 2013 / 13 Apr 2015
   Ver: 1
*/

/* Basics */

body {
    font: medium Helvetica, Arial;
    padding: 0 20px;
}

form {
	margin: 0;          

}            

.form-group {
    margin: 1em 0;
}   
 
fieldset {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: 10px;
	width: 364px; 
	margin: 1em 0;
}   
                               
label, 
input[type="text"], 
input[type="password"], 
select, 
textarea {
	display: inline-block;
	color: #333;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	vertical-align: top;
	line-height: 1.5;
}

label {
	width: 100px; /* if you change width, change .error off set below */
	margin-right: 10px;
} 

input[type="text"], 
input[type="password"], 
select, 
textarea {
	width: 250px;
	border: 1px solid #999;
	border-radius: 2px;
	outline: none;
	padding: 0; 
} 

textarea {
    min-height: 100px;
}

button, 
input[type="submit"] {
	border: 1px solid #999;
	border-radius: 2em;
	padding: .5em;      
	color: #0071A2; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);  
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);   
	font-weight: bold;
	text-align: center;
	background: rgb(254,254,254);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(212,212,212,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(212,212,212,1)));
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(212,212,212,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(212,212,212,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(212,212,212,1) 100%);
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(212,212,212,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d4d4d4',GradientType=0 );
	
}

button:hover, 
input[type="submit"]:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}  

input:focus {
	outline: 1px solid #0071a2;
}           

input[type="radio"], 
input[type="check"] {
    border: none;
}     


/* Error Styles */

input.error {
    border-color: #ce3c23;
} 

p.error {
	color: #ce3c23; 
	margin: 0;
	padding: 0;
	margin-left: 115px; /* set to width of label +15px */
}
   

/* Utility Classes */

.hidden {display: none;} 

.visuallyhidden { 
	position : absolute;
	clip : rect(0 0 0 0); 
	overflow : hidden;
	margin: -1px;
	padding : 0;
	height : 1px;      
	width : 1px;
	border : 0; 
	}
	

[class="icon-asterisk"] {
	color: #CE3C23; 
    font-size: 60%;
	position: relative; 
	top: -.6em;  
	}


/* Just for the demo */
form {
    border: 1px solid #ccc;
    width: 70%;
    padding: 20px;  
}

.honeypot {
    padding: 10px;
    background: #ebf4cd;
}
	